.dub
docs.json
__dummy.html
docs/
png-d.so
png-d.dylib
png-d.dll
libpng-d.a
png-d.lib
png-d-test-*
*.exe
*.o
*.obj
*.lst

# build executable
build

# generated code:
source/libpng/libconf.d

# example
example/example
dlang_logo_blue.png
